<h2>Login</h2>
<div class="row">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "col s12") do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <%= f.label :email %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.password_field :password, autocomplete: "current-password" %>
        <%= f.label :password %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light" type="submit" name="action">
          Entrar <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  <% end %>
</div>

<%= render "users/shared/links" %>
