<div class="row">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Traga seu projeto criativo ao mundo</h1>
      <div class="row center">
        <%= link_to 'Comece sua campanha', new_user_session_path, id: "download-button",  class:"btn-large waves-effect waves-light orange" %>
      </div>
      <br><br>
    </div>
  </div>
</div>

<!--   Icon Section   -->
<div class="row">
  <% @projects.each do |project| %>
    <div class="col s12 m4">
      <div class="card medium">
        <div class="card-image">
          <%= link_to "/project/#{project.id}" do %>
            <img src="<%= project.image.thumb.url %>">
            <span class="card-title"><%= project.title %></span>
          <% end %>
        </div>
        <div class="card-content">
          <%= truncate(project.descripton.html_safe, length: 210) %>
        </div>
        <div class="card-action">
          <%= link_to 'Mais detalhes', "/project/#{project.id}" %>
        </div>
      </div>
    </div>
  <% end %>
</div>