<div class="row">
  <%= form_with(model: project, local: true, html: { multipart: true }, class: "col s12") do |form| %>
    <% if project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="input-field col s12">  
        <%= form.text_field :title %>
        <%= form.label :title %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= form.text_area :descripton %>
        <%= form.label :descripton %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= form.label :goal %>
        <%= form.text_field :goal %>
      </div>
    </div>    

    <div class="row">
      <div class="file-field input-field col s12">
        <div class="btn">
          <span>Imagem</span>
          <%= form.file_field :image %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s12">
        <%= form.submit class: "btn waves-effect waves-light" %>
      </div>
    </div>
  <% end %>
</div>
