<h1>Meus Projetos</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Meta</th>
      <th>Arrecadado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td>R$ <%= project.goal %></td>
        <td>R$ <%= project.donates.sum(:donate) %></td>
        <td colspan="3">
          <%= link_to 'Visualizar', "/project/#{project.id}", class: "btn waves-effect waves-light" %>
          <%= link_to 'Editar', edit_project_path(project), class: "btn waves-effect waves-light" %>
          <%= link_to 'Remover', project, method: :delete, data: { confirm: 'Confirma a ação?' }, class: "btn waves-effect waves-light" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Projeto', new_project_path, class: "btn waves-effect waves-light" %>
