<h2>Esquesceu a senha?</h2>
<div class="row">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: "col s12") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="row">
      <div class="input-field col s12">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <%= f.label :email %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light" type="submit" name="action">
          Enviar solicitação <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  <% end %>
</div>

<%= render "users/shared/links" %>
